$primary: #ff266e;
$primary-dark: #ec125b;
$primary-invert: #ffffff;
$medicina: #0055a2;
$medicina-dark: #02204d;
$medicina-invert: #ffffff;
$enfermeria: #008066;
$enfermeria-invert: #ffffff;
$bibliografia: #f09146;
$bibliografia-invert: #ffffff;
$black-light: #575757;
$black: #272727;

.background-primary {
    background-color: $primary;
    color: #fff;
}
$colores: (
    "primary": $primary,
    "medicina": $medicina,
    "enfermeria": $enfermeria,
    "bibliografia": $bibliografia,
    "filtro-tienda": #fff,
);

@each $name, $color in $colores {
    .background-#{$name} {
        background-color: $color;
        color: #fff;
    }
}

.background-filtro-tienda {
    color: $black-light;
}
