$primary: #ff266e;
$primary-dark: #ff1463;
$primary-invert: #ffffff;
$medicina: #0055a2;
$medicina-dark: #02204d;
$medicina-invert: #ffffff;
$enfermeria: #008066;
$enfermeria-invert: #ffffff;
$bibliografia: #f09146;
$bibliografia-invert: #ffffff;
$black-light: #575757;
