@import "_founder";
@import "_product-card";
// HERO

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero {
    position: relative;
    background: linear-gradient(349.47deg, rgba(32, 59, 131, 0.9) 31.24%, rgba(83, 152, 255, 0.9) 84.32%);
    padding: 4.75rem 1rem 3.25rem;

    &-cont {
        text-align: center;
        h1 {
            font-size: clamp(1.5rem, 5vw, 2.25rem);
            font-weight: 700;
        }
        h1,
        h2 {
            color: #fff;
        }

        h2 {
            font-size: clamp(1rem, 3vw, 1.5rem);
            line-height: 1.1719em;
            font-weight: 300;
        }

        .searchbar-especialidad {
            position: absolute;
            display: flex;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%);
            width: unquote("min(100% - 2rem, 30rem)");

            .field {
                width: 100%;
                margin: 0;

                .icon {
                    height: 100%;
                    width: 2em;
                }
            }

            &-campo {
                font-size: 0.75rem;
                padding-top: 6px;
                padding-top: 6px;
                height: max-content;
            }
            &-button {
                display: none;
            }
        }
    }
}

.courses-top {
    &-desktop {
        display: none;
    }

    &-cont {
        .title {
            font-size: clamp(0.875rem, 3vw, 1rem);
            font-weight: 400;
            line-height: 1.25em;
            text-align: center;
            max-width: 44ch;
            margin: 2.5rem auto 1.125rem;

            span {
                font-weight: 700;
            }
        }

        &-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(212px, 1fr));
            grid-auto-rows: 1fr;
            row-gap: 0.5rem;
            column-gap: 1rem;
        }

        &-big,
        &-small {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1.625rem 1.375rem 2rem;
            background-blend-mode: multiply;
            background-position: center top !important;
            background-size: cover !important;
            border-radius: 4px;

            &-title {
                z-index: 2;
                color: #fff;
                font-size: clamp(1.25rem, 3vw, 1.5rem);
                line-height: 1.25em;
                font-weight: 700;
            }
            &-bajada {
                z-index: 2;
                color: #fff;
                font-size: 0.875rem;
                line-height: 17px;
            }
        }
    }
}

.best-seller,
.destacados {
    &-cont {
        width: 100%;
        padding: 1.5rem 0 1.25rem;

        &-title {
            flex-grow: 1;
            font-size: 1.25rem;
            text-align: center;
            text-transform: uppercase;
        }

        .swiper {
            &-slide {
                display: flex;
                align-items: center;
                height: auto;
                width: unquote("max(212px, 50%)");
                padding: 1rem 0;
            }
            .swiper-button-prev,
            .swiper-button-next {
                display: none;
            }
        }
    }
}

.destacados {
    background-color: #f0f0f080;
    &-cont {
        &-top {
            display: flex;
            flex-flow: row wrap;
        }
        &-top-filters {
            display: flex;
            justify-content: center;
            flex-grow: 1;
            padding: 0 1rem;
            column-gap: 0.5rem;
            margin-top: 0.5rem;

            .btn {
                flex-grow: 1;
                text-align: center;
                max-width: 130px;
            }
        }
    }
}

.banner {
    &-cont {
        width: 100%;

        img {
            width: 100%;
        }

        .swiper-banner {
            position: relative;
        }
    }
}

.reviews {
    overflow: hidden;

    &-cont {
        padding: 2rem 0 4rem;
        &-title {
            width: 34ch;
            margin: 0 auto 0.75rem;
            font-size: 1rem;
            line-height: 19px;
            font-weight: 500;
            color: #272727;
            text-align: center;

            > span {
                margin-top: 0.25rem;
                display: block;

                span {
                    display: block;
                }
            }
        }

        .swiper-reviews {
            position: relative;

            .swiper-slide {
                box-sizing: border-box;
                display: flex;
                align-items: center;
                height: auto;
            }

            .swiper-pagination {
                bottom: -2rem;
            }
        }

        .card-review {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 2rem 1rem 1rem;
            background: #ffffff;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            border-radius: 10px;

            &-rating {
                display: flex;
                justify-content: center;
                column-gap: 0.25rem;
                margin-bottom: 0.75rem;

                img {
                    width: 1.25rem;
                }
            }

            &-body {
                margin-bottom: 2rem;
                font-size: 0.875rem;
                line-height: 1rem;
                text-align: center;
                flex-grow: 1;
            }

            &-footer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 1rem;
                border-top: 1px solid #eeeeee80;

                &-user {
                    display: flex;
                    align-items: center;
                    column-gap: 0.5rem;
                }

                p {
                    font-size: 0.875rem;
                    font-weight: 700;
                    color: $medicina-dark;
                }

                .profile-picture {
                    width: 36px;
                    height: 36px;
                    background-color: $medicina;
                    border-radius: 36px;
                }
                .google-market {
                    width: 74px;
                }
            }
        }
    }
}

.webinars {
    overflow: hidden;
    padding: 1.5rem 0 3rem;
    background: linear-gradient(95.19deg, #3767ae 0%, #203b83 99.64%);

    &-cont {
        width: 100%;

        &-info {
            margin-bottom: 2rem;
            text-align: center;
            color: #fff;

            &-title {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 0.35rem;
                column-gap: 0.5rem;
                font-size: 1.25rem;
            }

            &-bajada {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                row-gap: 1rem;
                margin: 0 1rem;
                font-size: 1rem;
                line-height: 19px;
            }
        }

        .swiper-webinars {
            position: relative;
            .swiper-slide {
                position: relative;
                height: auto;
                width: unquote("max(284px, 70%)");

                .card-webinar {
                    display: grid;
                    grid-template-columns: 1fr 2fr;
                    height: 100%;
                    overflow: hidden;
                    border-radius: 4px;
                    background-color: #fff;
                    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);

                    &-img {
                        width: 100%;
                        height: 100%;
                    }

                    &-info {
                        padding: 1.75rem 1.25rem 1.5rem 0.75rem;
                        &-top {
                            display: flex;
                            align-items: center;
                            column-gap: 0.25rem;
                            margin-bottom: 0.25rem;
                            font-size: 0.5rem;
                            text-transform: uppercase;

                            .fecha {
                                max-width: 22ch;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }

                        &-title {
                            margin-bottom: 0.5rem;
                            font-size: 0.875rem;
                            line-height: 1rem;
                            font-weight: 700;
                            color: $medicina-dark;
                        }

                        .btn {
                            width: max-content;
                            font-size: 0.75rem;
                            line-height: 14px;
                            padding: 0.25rem 0.75rem;
                        }
                    }
                }
            }
        }
        .swiper-pagination {
            bottom: -1.75rem;
        }
    }
}

@media screen and (min-width: 500px) and (max-width: 767px) {
    .courses-top {
        &-cont {
            &-grid {
                row-gap: 1rem;
            }
            &-big {
                grid-column: 1/3;
            }
        }
    }
}

@media screen and (min-width: 767px) {
    .hero {
        background: url(../media/b-hero.jpg);
        padding: 5.75rem 1rem 7rem;

        &-cont {
            h2 {
                .salto-de-linea {
                    display: inline;
                }
            }
        }

        .searchbar-especialidad {
            position: relative;
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6);

            &-campo {
                position: relative;
                font-size: 1rem;
                padding-right: 6rem !important;
            }

            &-button {
                padding: 0 1rem;
                position: absolute;
                display: flex;
                align-items: center;
                height: 100%;
                right: 0;
                background-color: transparent;
                font-size: 1rem;
                line-height: 19px;
                font-weight: 700;
                text-transform: uppercase;
                color: $black-light;
                border: none;
                cursor: pointer;

                &:hover {
                    color: $primary;
                }
            }
            .icon {
                font-size: 1.25rem;

                .mdi-chevron-right {
                    display: none;
                }
            }
        }
    }

    .courses-top {
        position: relative;

        &-mobile {
            display: none;
        }
        &-desktop {
            display: block;
        }
        &-cont {
            position: relative;
            z-index: 2;

            &-big,
            &-small {
                justify-content: flex-end;
                border-radius: 10px;
                background-position: 70% top !important;
            }
            .title {
                max-width: 78ch;
                margin: 2rem auto 1rem;
            }
            .btn {
                margin-top: 0.75rem;
            }
            &-small.plan-estudio {
                .btn {
                    padding: 0.375rem 0.5rem;
                }
            }
        }
    }

    .best-seller,
    .destacados {
        &-cont {
            width: $width-container;
        }
    }

    .banner {
        margin-bottom: 2rem;
    }

    .destacados {
        &-cont {
            &-title,
            &-top-filters {
                flex-grow: 0;
                padding: 0;
            }
            &-top {
                justify-content: space-between;

                &-filters {
                    margin-top: 0;

                    .btn {
                        min-width: 135px;
                    }
                }
            }
        }
    }

    .reviews {
        &-cont {
            display: grid;
            grid-template-columns: 45% 55%;
            align-items: center;

            &-title {
                text-align: left;
                width: 26ch;
                margin: 0;
            }
            .reviews-slider {
                position: relative;
            }
            .swiper-reviews {
                overflow: hidden;
                .swiper-slide {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .courses-top {
        padding-top: 2rem;
        margin-top: -4rem;
        &-cont {
            .title {
                max-width: 78ch;
                margin: 0rem auto 2rem;
            }
            &-grid {
                grid-template-rows: 340px;
            }

            &-big {
                grid-column: 1/3;
            }
            &-small {
                h4 .salto-de-linea {
                    display: inline;
                }
            }
        }
    }
}

@media screen and (min-width: 1445px) {
    .courses-top {
        &-cont {
            &-grid {
                grid-template-columns: 2fr 1fr 1fr;
                grid-template-rows: 340px;
            }

            &-big {
                grid-column: 1;
            }
        }
    }
}
