@import "_founder";

// NAVBAR

@import "components/_header-navbar";

// HERO

@import "components/_hero";

// FOOTER

@import "components/_footer";

.hero {
    position: relative;
    padding: 5.75rem 1rem 3.25rem;
    background: none;

    &-cont {
        z-index: 2;
    }

    picture {
        position: absolute;
        z-index: 1;
        inset: 0;

        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }
    }
}

.contenedor {
    width: unquote("min(100% - 64px, 960px - 64px)");
}
.solapa-sup {
    display: block;
    margin-top: -1rem;
}
.mision {
    position: relative;
    margin-bottom: 1rem;

    &-cont {
        position: relative;
        z-index: 2;

        h2 {
            font-size: clamp(1.375rem, 3vw, 1.875rem);
            font-weight: 700;
            color: $medicina-dark;
            line-height: 1.2em;
        }
        p {
            font-size: clamp(0.875rem, 2vw, 1rem);
            color: $black;
        }
        .block {
            margin-bottom: 0.5rem;
        }
    }
}

.aval {
    margin: 0 0 3rem;
    overflow: hidden;
    &-cont {
        &-title {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            h3 {
                font-size: 1.375rem;
                color: $black;
                line-height: 1;
            }
            i {
                font-size: 1.2em;
                &::before {
                    transform: translateY(3px);
                }
            }
        }
        &-mobile {
            .swiper-avales {
                position: relative;
                margin: 1.75rem 0 2rem;
                .swiper-slide {
                    display: flex;
                    align-items: center;
                    height: auto;
                    width: unquote("max(208px, 25vw)");
                }
                .swiper-button-prev,
                .swiper-button-next {
                    display: none;
                }
            }
            .aval-card-img:hover {
                .info::before {
                    display: block;
                    bottom: 2rem;
                    right: -0.5rem;
                }
            }
        }
    }

    &-card {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 100%;
        width: 100%;
        background: #ffffff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;

        &-img {
            position: relative;
            height: unquote("max(130px,15vw)");

            .imagen-aval {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }

            .info {
                position: absolute;
                background: center/contain url(../media/icon/information-button.svg);
                width: 1.25rem;
                height: 1.25rem;
                right: 0.5rem;
                bottom: 0.5rem;

                &::before {
                    display: none;
                    padding: 0.5rem 0.75rem;
                    border-radius: 4px;
                    position: absolute;
                    width: 16ch;
                    font-size: 14px;
                    content: "Aval solo disponible en Argentina";
                    background-color: #3f6cbb;
                    color: #fff;
                }
            }
        }

        &-title {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.75rem 1rem;
            font-size: 0.75rem;
            flex-grow: 1;
            border-top: 1px solid rgba(238, 238, 238, 0.75);
            text-align: center;
        }
    }
}

@media screen and (min-width: 768px) {
    .hero {
        min-height: 290px;
    }
    .solapa-sup {
        margin-top: -2rem;
    }
    .mision {
        margin-bottom: 2.5rem;

        &-cont {
            h2 {
                span {
                    display: block;
                }
            }
            .block {
                margin-bottom: 1.5rem;
            }
        }
    }

    .aval {
        margin-bottom: 5rem;
        &-cont {
            width: $width-container-solapa;

            &-title {
                padding: 0 2rem;
            }

            &-mobile {
                margin-top: 1rem;
                padding: 0 0 2rem;

                .swiper-avales {
                    margin-top: 0;
                    padding: 1rem 2rem;
                    position: relative;
                    overflow: hidden;
                    &::before {
                        position: absolute;
                        z-index: 2;
                        content: "";
                        left: 0;
                        top: 50%;
                        width: 2rem;
                        height: 90%;
                        transform: translateY(-50%);
                        background: linear-gradient(90deg, #fff 0 50%, transparent 100%);
                    }
                    &::after {
                        position: absolute;
                        z-index: 2;
                        content: "";
                        right: 0;
                        top: 50%;
                        width: 2rem;
                        height: 90%;
                        transform: translateY(-50%) rotate(180deg);
                        background: linear-gradient(90deg, #fff 0 50%, transparent 100%);
                    }

                    cursor: grab;

                    .swiper-button-prev {
                        padding-right: 1.5rem;
                        left: 0.75rem;
                    }

                    .swiper-button-next {
                        padding-left: 1.5rem;
                        right: 0.75rem;
                    }

                    .swiper-button-prev,
                    .swiper-button-next {
                        display: flex !important;

                        i {
                            font-size: 2rem;
                            color: #acacac;

                            &:hover {
                                color: $medicina-dark;
                            }
                        }

                        &::after {
                            display: none;
                        }
                    }
                }

                .aval-card {
                    overflow: unset;
                    &-img {
                        height: unquote("max(130px,10vw)");
                        img {
                            border-radius: 8px 8px 0 0;
                        }
                    }

                    .info:hover {
                        &::after {
                            position: absolute;
                            content: " ";
                            top: -16px;
                            border: solid;
                            border-width: 0 10px 12px;
                            border-color: transparent transparent #3f6cbb;
                            transform: rotate(180deg);
                        }
                        &::before {
                            display: block;
                            bottom: 2rem;
                            right: 0.75rem;
                            width: 19ch;
                            text-align: center;
                            z-index: 3;
                            transform: translateX(50%);
                        }
                    }
                }
            }
        }
    }
}
