@import "_founder";

// HERO

@import "components/_hero";

// NAVBAR

@import "components/_header-navbar";

// CONTENEDOR CON SIDE - RIGHT

@import "components/_contenedor-side-r";

// Product Cards

@import "components/_product-card";

// FOOTER

@import "components/_footer";

body {
    background-color: #fdfdfd;
    color: $black;
}

.navbar {
    .navbar-brand {
        .navbar-item {
            p {
                display: none;
            }
        }
    }
}

.sombra {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.boton {
    width: 100%;
    flex-grow: 1;
    font-size: 1rem;
}

.hero {
    position: relative;
    padding: 5.75rem 1rem 3.25rem;
    background: center url(../media/header-ficha-m.jpg);
    background-size: cover;
}

.cursos {
    &-cont {
        position: relative;
        z-index: 3;
        margin-top: -1.5rem;
        background-color: #fff;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        border-radius: 1rem;
        padding: 0.75rem 1rem 0;

        &-head {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-title {
                font-size: clamp(1.375rem, 3vw, 1.875rem);
                font-weight: 700;
                line-height: 1;
                color: $medicina-dark;
            }

            #lupa-cursos {
                font-size: 1.5rem;
                color: $medicina-dark;
            }
        }

        &-body {
            position: relative;
            margin-top: 1rem;

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                right: 1.5rem;
                height: 1px;
                content: "";
                background: rgba(87, 87, 87, 0.25);
            }
            &::after {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 1.5rem;
                height: 1px;
                content: "";
                background: rgba(87, 87, 87, 0.25);
            }
        }

        &-footer {
            padding: 1.25rem 0 1.5rem;
            display: flex;
        }
        &-resumen {
            flex-grow: 1;
            &-title {
                font-size: clamp(0.875rem, 2vw, 1rem);
                font-weight: 700;
            }
            &-list {
                &-item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 1rem;
                    font-size: 0.625rem;
                    color: #acacac;
                    border-bottom: 1px solid #5757571a;

                    &:last-child {
                        border: none;
                    }

                    &-name {
                        padding: 0.5rem 0;
                        flex-grow: 1;
                        font-size: clamp(0.625rem, 2vw, 0.75rem);
                    }

                    &-price {
                        position: relative;
                        color: $black;
                        font-weight: 700;
                        font-size: clamp(0.875rem, 2vw, 1rem);
                        min-width: 8ch;
                        text-align: left;

                        &::before {
                            content: "$ ";
                        }
                    }
                }
            }
            &-total {
                padding: 0.75rem 0 0;
                display: flex;
                gap: 2rem;
                justify-content: space-between;
                border-top: 1px dashed #c4c4c4;

                &-price-total {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    .total {
                        font-size: clamp(0.875rem, 2vw, 1rem);
                        font-weight: 700;
                        min-width: 8ch;

                        &::before {
                            content: "$ ";
                        }
                    }

                    .total-bajada {
                        font-size: 0.625rem;
                        color: #acacac;
                    }
                }
                .continuar {
                    height: auto;
                }
            }
        }
    }
    &-list {
        position: relative;
        max-height: 320px;
        overflow-y: scroll;

        &-item {
            position: relative;
            padding: 1rem 2rem 0.75rem 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &::before {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 1.5rem;
                height: 1px;
                content: "";
                background: #5757571a;
            }

            &-name {
                width: 18ch;
                font-size: clamp(0.875rem, 2vw, 1rem);
                line-height: 1.3em;
            }
            &-price {
                min-width: 8ch;
                &::before {
                    content: "$ ";
                }
            }

            &-select {
                position: relative;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                padding: 0;
                background-color: transparent;

                &::before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    border: 1px solid #c4c4c4;
                }
                &::after {
                    position: absolute;
                    content: "";
                    width: 70%;
                    height: 70%;
                    border-radius: 50%;
                    background-color: #c4c4c4;
                }
                &.is-active {
                    &::after {
                        background-color: #00b6de;
                    }
                }
                span {
                    display: none;
                }
            }
        }
    }
}

.footer {
    &-cont {
        width: unquote("min(100% - 32px, 960px - 64px)");
    }
}

.form-asesor {
    &-cont {
        .formulario {
            padding: 1.75rem 0 1.75rem;

            &-title {
                margin-bottom: 0.5rem;
                font-size: clamp(1.375rem, 3vw, 1.875rem);
                line-height: 1;
                font-weight: 700;
                color: $medicina-dark;
            }

            &-campos {
                padding-bottom: 1rem;
                display: flex;
                flex-flow: row wrap;
                gap: 0.75rem;

                > div {
                    width: unquote("min(225px, 100%)");
                    flex-grow: 1;
                }
                label {
                    display: block;
                    font-size: 1.125rem;
                    font-weight: 700;
                    color: $black-light;
                }
                .intl-tel-input {
                    width: 100%;
                }
                input,
                select {
                    font-size: 0.875rem;
                    padding: 0.25rem 0.5rem;
                    width: 100%;
                    border: 1px solid #57575740;
                    border-radius: 4px;
                    background-color: #fff !important;
                    min-height: 2rem !important;
                    &::placeholder {
                        color: #979797;
                    }
                }
                .campo-doble {
                    display: flex;
                    gap: 0.75rem;
                }
            }
            textarea {
                padding: 0.25rem 0.5rem;
                width: min(100%);
                border: 1px solid #57575740;
                border-radius: 4px;
                &::placeholder {
                    color: #979797;
                }
            }
            &-descuentos {
                padding: 1.5rem 0 1rem;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                row-gap: 0.75rem;
                column-gap: 1rem;

                &-options {
                    width: unquote("min(100%,500px)");
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    gap: 0.5rem;
                    &-item {
                        position: relative;
                        padding: 0.75rem 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 4px;
                        font-weight: 700;
                        border: 1px solid #00b6de;
                        color: #00b6de;
                        &.active {
                            background-color: #00b6de;
                            color: #fff;
                        }

                        input {
                            position: absolute;
                            opacity: 0.011;
                            z-index: 100;
                            left: 0px;
                            top: 0px;
                            width: 100%;
                            height: 100%;
                            cursor: pointer;
                        }
                    }
                }
            }
            &-envio {
                padding: 1rem 0;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                gap: 1.25rem;
                border-top: 1px solid #57575740;
                .gen-lead {
                    font-size: 1.125rem;
                    height: 2.25rem;
                    flex-grow: 1;
                }
                &-link {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    flex-grow: 1;
                    gap: 0.75rem;
                    .links {
                        width: unquote("min(100%,400px)");
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        gap: 0.5rem;

                        &-item {
                            width: 100%;
                            height: 2.25rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 4px;
                            font-size: clamp(0.75rem, 2vw, 1.125rem);
                            font-weight: 700;
                        }
                    }
                }
            }

            &-descuentos,
            &-envio {
                &-title {
                    font-size: 1.125rem;
                    line-height: 1;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: $black-light;
                }
            }
        }
    }
}

@media screen and (min-width: 767px) {
    .hero {
        background: center url(../media/header-ficha.jpg);
    }

    .cursos {
        margin-top: -2.5rem;
        &-cont {
            padding: 1.75rem;

            &-body {
                margin-top: 0.5rem;
                &::before,
                &::after {
                    right: 2rem;
                }
            }

            &-footer {
                padding: 1.75rem 0 0.25rem;
            }
            &-resumen {
                &-list {
                    &-item {
                        margin-right: 2rem;
                        display: grid;
                        grid-template-columns: 380px 80px minmax(120px, 195px);
                        gap: 1rem;
                    }
                }
                &-total {
                    margin-right: 2rem;
                    display: grid;
                    grid-template-columns: 380px 80px minmax(120px, 195px);
                    gap: 1rem;
                    .continuar {
                        order: 2;
                        width: 100%;
                    }
                    &-price-total {
                        order: 1;
                        grid-column: 2/3;
                    }
                }
            }
        }
        &-list {
            padding-right: 2rem;
            &-item {
                padding: 0.5rem 0;
                display: grid;
                grid-template-columns: 380px 100px minmax(120px, 195px);
                gap: 2rem;
                &-name {
                    width: unset;
                }
                &-select {
                    width: 100%;
                    height: unset;
                    border-radius: 4px;
                    padding: 0.25rem 0.5rem;
                    border: 1px solid #acacac;
                    color: #acacac;
                    &::before,
                    &::after {
                        display: none;
                    }
                    span {
                        display: block;
                    }

                    &.is-active {
                        background-color: #00b6de;
                        border: 1px solid #00b6de;
                        color: #fff;
                    }
                }
                &::before {
                    right: 0;
                    background: #5757570d;
                }
            }
        }
    }

    .form-asesor {
        &-cont {
            .formulario {
                padding: 3.625rem 1.5rem;

                &-title {
                    margin: 0;
                }
                &-campos {
                    padding: 1.375rem 0 2rem;
                    gap: 1.75rem 1.5rem;
                }

                &-descuentos {
                    padding: 2rem 0;
                    justify-content: center;

                    &-options {
                        gap: 0.75rem;
                        &-item {
                            height: 2.625rem;
                        }
                    }
                }

                &-envio {
                    padding: 2rem 0;
                    justify-content: center;
                    gap: 1.75rem;
                    .gen-lead {
                        max-width: 202px;
                    }

                    &-title {
                        white-space: nowrap;
                    }

                    &-link {
                        flex-direction: row;
                        flex-grow: unset;
                        justify-content: flex-end;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1441px) {
    .hero {
        &-cont {
            width: 1250px !important;
        }
    }
}

@media screen and (min-width: 1450px) {
    .form-asesor {
        &-cont {
            .formulario {
                &-campos {
                    > div {
                        width: unquote("min(280px, 100%)");
                    }
                }
            }
        }
    }
}
