@import "_founder";
// NAVBAR
@import "components/_header-navbar";
// CONTENEDOR CON SIDE - RIGHT
@import "components/_contenedor-side-r";
// Product Cards
@import "components/_product-card";
// FOOTER
@import "components/_footer";
.navbar {
    .navbar-brand {
        .navbar-item.logo {
            display: flex;
            gap: 0.5rem;
            p {
                position: relative;
                padding-left: 0.5rem;
                display: block;
                font-weight: 500;
                &::before {
                    content: " ";
                    position: absolute;
                    width: 1px;
                    top: 45%;
                    left: 0;
                    background-color: #fff;
                    height: 120%;
                    transform: translateY(-50%);
                }
            }
            &:hover {
                color: #fff;
            }
        }
    }
}

.hero {
    position: relative;
    padding: 5.75rem 0 2.25rem;
    background: center url(../media/magazine/header-magazine.jpg);
    &-cont {
        h1 {
            margin-bottom: 0.5rem;
            font-size: clamp(1.5rem, 5vw, 1.75rem);
            line-height: 1.1em;
            font-weight: 700;
        }
        h1,
        h2 {
            color: #fff;
        }
        h2 {
            font-size: clamp(0.875rem, 3vw, 1.125rem);
            line-height: 1.1719em;
            font-weight: 300;
        }
    }
}

.categorias {
    position: relative;
    padding: 2rem 0;
    overflow: hidden;
    .cont-w-side-r {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: "categoriasHeader" "body" "ver-mas" "side";
        gap: unset;
    }
    &-cont {
        &-header {
            grid-area: categoriasHeader;
            display: flex;
            flex-wrap: row wrap;
            justify-content: space-between;
            align-items: center;
            gap: 0.75rem;
            padding-bottom: 0.5rem;
            border-bottom: 2px solid #c4c4c480;
            &-title {
                flex-grow: 1;
                font-size: 1.25rem;
                font-weight: 700;
                color: $medicina-dark;
            }
            &-filters {
                position: relative;
                display: flex;
                justify-content: flex-end;
                flex-grow: 1;
                column-gap: 1.25rem;
                .filter-count {
                    font-size: 0.75rem;
                    width: 100%;
                }
                .date,
                .filtrar {
                    >a {
                        display: flex;
                        column-gap: 0.25rem;
                        color: $medicina-dark;
                        font-size: clamp(0.75rem, 2vw, 0.875rem);
                        font-weight: 700;
                        text-transform: uppercase;
                    }
                    &-cont {
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        z-index: 2;
                        right: 0;
                        bottom: 0;
                        overflow: hidden;
                        background-color: #6c6c6c;
                        font-size: 0.75rem;
                        transform: translateY(100%);
                        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
                        border-radius: 4px;
                        min-width: 220px;
                        &-button {
                            padding: 13px 1rem;
                            display: flex;
                            justify-content: space-between;
                            background-color: #494949;
                            border-bottom: 1px solid #c4c4c480;
                            font-weight: 700;
                            color: #fff;
                            i {
                                font-size: 1rem;
                                line-height: 1;
                            }
                            &:last-child {
                                border-bottom: none;
                            }
                            &.active {
                                background-color: #494949;
                                color: $primary;
                            }
                        }
                        .accordion-panel {
                            position: relative;
                            background-color: #6c6c6c;
                            li {
                                border-bottom: 1px solid #c4c4c480;
                                a {
                                    padding: 10px 1rem;
                                    display: flex;
                                    justify-content: space-between;
                                    color: #fff;
                                    &:hover,
                                    &:focus {
                                        background-color: #6c6c6c;
                                        color: $primary;
                                    }
                                }
                                &:last-child {
                                    border-bottom: none;
                                }
                            }
                        }
                        a:last-child {
                            border-bottom: none;
                        }
                    }
                    &:hover,
                    &:focus,
                    &:target {
                        &::after {
                            position: absolute;
                            content: "";
                            bottom: 0;
                            left: 0;
                            transform: translateY(100%);
                            width: 100%;
                            height: 1rem;
                        }
                        .btn-filtro {
                            color: $primary;
                        }
                        .menu-desplegable {
                            bottom: -0.5rem;
                            display: flex;
                            .especialidad {
                                .accordion-trigger.active~.accordion-panel {
                                    max-height: 220px !important;
                                    overflow-y: scroll;
                                }
                            }
                            .accordion-panel {
                                overflow: hidden;
                            }
                        }
                    }
                }
                .date {
                    &-cont {
                        padding: 1rem;
                        &-select {
                            margin-top: 1rem;
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            gap: 0.5rem;
                            label {
                                font-weight: 700;
                                color: #fff;
                                text-transform: uppercase;
                            }
                            input {
                                width: 100px;
                            }
                        }
                    }
                }
                .filtrar-cont,
                .date-cont {
                    display: none;
                }
            }
        }
        &-side {
            grid-area: side;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .searchbar {
                display: none;
                gap: 0.5rem;
                .probox {
                    gap: 0.5rem;
                    height: min-content !important;
                    .proinput {
                        min-height: 2rem !important;
                    }
                    .proloading {
                        position: absolute;
                        z-index: 2;
                        right: 2.75rem !important;
                        top: 50% !important;
                        transform: translateY(-50%) !important;
                    }
                }
                input[type="search"] {
                    z-index: 2;
                    padding-left: 1rem;
                    flex-grow: 1;
                    border: 1px solid #acacac;
                    border-radius: 50px;
                    background-color: #fff;
                }
                .promagnifier {
                    position: relative;
                    height: 2rem !important;
                    width: 2rem !important;
                    background-color: $primary !important;
                    border-radius: 50% !important;
                    svg {
                        fill: #fff !important;
                    }
                }
            }
            .mas-leidas {
                display: none;
                position: relative;
                margin: 1rem 0;
                &-title {
                    padding: 1rem 0.85rem 0;
                    font-size: 1.125rem;
                    font-weight: 300;
                    color: $black;
                }
                .card-leida {
                    display: flex;
                    flex-direction: column;
                    box-sizing: border-box;
                    gap: 0.5rem;
                    height: 100%;
                    width: 100%;
                    padding: 1rem 0.85rem;
                    &-num {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 0.75rem;
                        font-weight: 700;
                        background-color: $medicina-dark;
                        line-height: 1;
                        color: #fff;
                        height: 22px;
                        width: 22px;
                        border-radius: 50%;
                    }
                    &-tag {
                        font-size: 0.75rem;
                        font-weight: 400;
                        letter-spacing: 0.1em;
                        color: #878686;
                    }
                    a {
                        flex-grow: 1;
                    }
                    &-title {
                        font-size: 1.125rem;
                        line-height: 1.2em;
                        font-weight: 700;
                        color: $medicina-dark;
                    }
                }
            }
            .banner {
                width: calc(100% + 2.5rem);
                margin-left: -1.25rem;
                &-cont {
                    width: 100%;
                }
                .swiper-banner {
                    position: relative;
                }
                .swiper-slide {
                    display: flex;
                    width: 100% !important;
                    picture {
                        width: 100%;
                    }
                    img {
                        object-fit: cover;
                        object-position: center;
                        height: 100%;
                        width: 100%;
                    }
                }
            }
            .newsletter {
                padding: 1rem 2rem 1rem 1rem;
                background: #ffffff;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                h5 {
                    font-weight: 500;
                    color: $medicina-dark;
                }
                .mail-form {
                    width: 100%;
                    margin-top: 1rem;
                    position: relative;
                    form {
                        p {
                            display: flex;
                            flex-flow: row;
                            .email-367 {
                                height: max-content;
                                flex-grow: 1;
                            }
                            .acceptance-848 {
                                margin-top: 0.75rem;
                                label {
                                    display: flex;
                                    align-items: center;
                                    column-gap: 0.5rem;
                                }
                            }
                        }
                    }
                    input[type="email"] {
                        padding: 0.5rem;
                        min-height: 2rem;
                        border-radius: 4px 0 0 4px;
                        border: 1px solid rgba(172, 172, 172, 0.25);
                        outline: none;
                        width: 100%;
                    }
                    button[type="submit"] {
                        height: auto !important;
                        background-color: $primary;
                        border-radius: 0 4px 4px 0;
                        font-size: 1.25rem;
                        color: #fff;
                        outline: none;
                        border: none;
                        cursor: pointer;
                    }
                }
            }
        }
        &-body {
            grid-area: body;
            .card-cat {
                padding: 1rem 0;
                border-bottom: 1px solid #c4c4c440;
                &-tags {
                    display: flex;
                    gap: 0.5rem;
                }
                &-info {
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
                    gap: 1rem;
                    &-title {
                        font-size: 1.5rem;
                        line-height: 1.1em;
                        font-weight: 700;
                        color: $medicina-dark;
                    }
                    &-bajada {
                        margin-top: 0.35rem;
                        line-height: 1.3em;
                        color: $black;
                    }
                    &-footer {
                        margin: 1rem 0 0;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 1rem;
                        .autor {
                            display: flex;
                            gap: 0.5rem;
                            &-img {
                                flex-shrink: 0;
                                height: 2.625rem;
                                width: 2.625rem;
                                border-radius: 50%;
                                box-shadow: 0 0 5px 0px #839aa5;
                            }
                            &-info {
                                display: flex;
                                flex-direction: column;
                                &-name {
                                    font-size: 1rem;
                                    font-weight: 500;
                                    color: $black;
                                }
                                &-date {
                                    font-size: 0.75rem;
                                    line-height: 1.3em;
                                    color: $black;
                                }
                            }
                        }
                        .btn.button {
                            max-width: 125px;
                            flex-grow: 1;
                        }
                    }
                    &-img {
                        flex-grow: 1;
                        min-height: 180px;
                        height: 100%;
                        border-radius: 0.5rem;
                        overflow: hidden;
                        picture {
                            position: relative;
                            height: 100%;
                            display: flex;
                            img {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                object-position: center;
                            }
                        }
                    }
                }
            }
        }
        .control-buttons {
            grid-area: ver-mas;
            margin: 1rem 0 2rem;
            display: flex;
            justify-content: center;
            gap: 0.5rem;
            font-weight: 700;
            color: $black;
            a {
                height: unset;
                padding: 0.25rem 0.5rem;
                font-size: clamp(1rem, 2vw, 1.25rem);
                font-weight: 500;
                line-height: 1;
                text-align: center;
                color: $black;
                border-radius: 4px;
                border: 1px solid transparent;
                &:hover {
                    border: 1px solid $black;
                }
                &:focus {
                    background-color: #43c8e6;
                    color: #fff !important;
                }
                &.active {
                    background-color: #00b6de;
                    color: #fff !important;
                    border: 1px solid #00b6de !important;
                }
            }
        }
    }
    .tags {
        font-size: clamp(0.75rem, 2vw, 0.875rem);
        width: max-content;
        margin-bottom: 0.75rem !important;
    }
}

.daterangepicker {
    right: 1rem !important;
    .drp-buttons {
        .btn {
            display: unset;
            color: $medicina-dark;
            background-color: transparent;
        }
    }
}

@media screen and (min-width: 767px) {
    .hero {
        min-height: 360px;
        background: 25% top url(../media/magazine/header-magazine.jpg);
        background-size: cover;
        align-items: center;
        justify-content: center;
        &-cont {
            h1 {
                max-width: 30ch;
            }
            h2 {
                max-width: 40ch;
                .salto-de-linea {
                    display: inline;
                }
            }
        }
    }
    .categorias {
        &-cont {
            position: relative;
            z-index: 2;
            &-side {
                .searchbar {
                    display: flex;
                }
                .banner {
                    margin: 0;
                    width: 100%;
                    height: 430px;
                    border-radius: 10px;
                    overflow: hidden;
                    &-cont {
                        height: 100%;
                        .swiper-banner {
                            height: 100%;
                        }
                        picture {
                            display: flex;
                            height: 100%;
                            img {
                                height: 100%;
                                object-fit: cover;
                                object-position: center;
                            }
                        }
                    }
                }
            }
            &-body {
                .card-cat {
                    display: flex;
                    flex-direction: column;
                    padding: 2rem 0;
                    min-height: 350px;
                    &-info {
                        flex-grow: 1;
                        grid-template-columns: unquote("max(370px, 57%)") auto;
                        gap: 1.75rem;
                        &-cont {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                        }
                        &-title {
                            font-size: 1.375rem;
                        }
                        &-img {
                            min-height: unset;
                        }
                    }
                }
            }
        }
        .control-buttons {
            grid-area: ver-mas;
            margin: 1.5rem 0 4rem;
            a {
                border-radius: 8px;
            }
        }
    }
}

@media screen and (min-width: 996px) {
    .hero {
        padding: 0;
        &-cont {
            width: 960px !important;
        }
    }
}

@media screen and (min-width: 1024px) {
    .daterangepicker {
        right: unset !important;
    }
    .navbar {
        .navbar-brand {
            .navbar-item.logo {
                p {
                    &::before {
                        height: 155%;
                    }
                }
            }
        }
        .navbar-link {
            padding: 0.5rem 0.5rem;
            &:not(.is-arrowless) {
                padding-right: 2rem;
                &::after {
                    right: 0.75rem !important;
                }
            }
        }
    }
    .categorias {
        overflow: unset;
        margin-top: -3rem;
        .cont-w-side-r {
            display: grid;
            grid-template-columns: 1fr 346px 230px;
            grid-template-areas: "categoriasHeader categoriasHeader side" "body body side" "ver-mas ver-mas side";
            gap: 0;
            column-gap: 2rem;
        }
        &-cont {
            &-header {
                grid-template-columns: 1.5fr 1fr;
            }
            &-side {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                .mas-leidas {
                    margin: 0;
                    height: max-content;
                    display: flex;
                    flex-direction: column;
                }
                .mas-leidas-cont {
                    display: flex;
                    flex-direction: column;
                    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
                    border-radius: 10px;
                    & .card-leida:last-child {
                        border-bottom: none;
                    }
                    .card-leida {
                        margin: 0;
                        height: max-content !important;
                        width: 100%;
                        border-bottom: 1px solid #c4c4c480;
                        .card-review {
                            box-shadow: unset;
                        }
                    }
                }
                .newsletter {
                    padding: 1rem;
                    h5 {
                        max-width: 16ch;
                    }
                    .mail-form {
                        margin-top: 0.5rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1445px) {
    .hero {
        &-cont {
            width: 1250px !important;
        }
    }
    .categorias {
        &-cont {
            &-body {
                .card-cat {
                    &-info-img {
                        min-height: 180px;
                    }
                    &-info {
                        &-footer {
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 0.75rem;
                            .btn {
                                width: 100%;
                                padding: 0.5rem 1rem;
                                height: unset;
                            }
                        }
                    }
                }
            }
        }
    }
}