.primary-light {
  color: hsl(340deg, 100%, 65%);
}

.primary {
  color: hsl(340deg, 100%, 57%);
}

.primary-dark {
  color: hsl(340deg, 100%, 52%);
}

.accent-light {
  color: hsl(191deg, 100%, 54%);
}

.accent {
  color: hsl(191deg, 100%, 44%);
}

.accent-dark {
  color: hsl(191deg, 100%, 34%);
}

.medicina-light {
  color: hsl(209deg, 100%, 42%);
}

.medicina {
  color: hsl(209deg, 100%, 32%);
}

.medicina-dark {
  color: hsl(209deg, 100%, 22%);
}

.medicina-darkest {
  color: hsl(216deg, 95%, 15%);
}

.enfermeria-light {
  color: hsl(168deg, 100%, 35%);
}

.enfermeria {
  color: hsl(168deg, 100%, 25%);
}

.enfermeria-dark {
  color: hsl(168deg, 100%, 20%);
}

.bibliografias-light {
  color: hsl(26deg, 85%, 71%);
}

.bibliografias {
  color: hsl(26deg, 85%, 61%);
}

.bibliografias-dark {
  color: hsl(26deg, 85%, 55%);
}

.actualidad-light {
  color: hsl(216deg, 100%, 76%);
}

.actualidad {
  color: hsl(216deg, 100%, 66%);
}

.actualidad-dark {
  color: hsl(216deg, 100%, 56%);
}

.e-health-light {
  color: hsl(87deg, 52%, 71%);
}

.e-health {
  color: hsl(87deg, 52%, 61%);
}

.e-health-dark {
  color: hsl(87deg, 52%, 51%);
}

.f-de-guardia-light {
  color: hsl(168deg, 80%, 54%);
}

.f-de-guardia {
  color: hsl(168deg, 80%, 44%);
}

.f-de-guardia-dark {
  color: hsl(168deg, 80%, 34%);
}

.texto-light {
  color: hsl(0deg, 0%, 34%);
}

.texto {
  color: hsl(0deg, 0%, 15%);
}

.whites-light {
  color: hsl(0deg, 0%, 95%);
}

.whites {
  color: #fff;
}

.whites-dark {
  color: hsl(0deg, 0%, 90%);
}

.news-light {
  color: hsl(39deg, 100%, 59%);
}

.news {
  color: hsl(39deg, 100%, 49%);
}

.news-dark {
  color: hsl(39deg, 100%, 40%);
}

.bg-primary-light {
  background-color: hsl(340deg, 100%, 65%);
}

.bg-primary {
  background-color: hsl(340deg, 100%, 57%);
}

.bg-primary-dark {
  background-color: hsl(340deg, 100%, 52%);
}

.bg-accent-light {
  background-color: hsl(191deg, 100%, 54%);
}

.bg-accent {
  background-color: hsl(191deg, 100%, 44%);
}

.bg-accent-dark {
  background-color: hsl(191deg, 100%, 34%);
}

.bg-medicina-light {
  background-color: hsl(209deg, 100%, 42%);
}

.bg-medicina {
  background-color: hsl(209deg, 100%, 32%);
}

.bg-medicina-dark {
  background-color: hsl(209deg, 100%, 22%);
}

.bg-medicina-darkest {
  background-color: hsl(216deg, 95%, 15%);
}

.bg-enfermeria-light {
  background-color: hsl(168deg, 100%, 35%);
}

.bg-enfermeria {
  background-color: hsl(168deg, 100%, 25%);
}

.bg-enfermeria-dark {
  background-color: hsl(168deg, 100%, 20%);
}

.bg-bibliografias-light {
  background-color: hsl(26deg, 85%, 71%);
}

.bg-bibliografias {
  background-color: hsl(26deg, 85%, 61%);
}

.bg-bibliografias-dark {
  background-color: hsl(26deg, 85%, 55%);
}

.bg-actualidad-light {
  background-color: hsl(216deg, 100%, 76%);
}

.bg-actualidad {
  background-color: hsl(216deg, 100%, 66%);
}

.bg-actualidad-dark {
  background-color: hsl(216deg, 100%, 56%);
}

.bg-e-health-light {
  background-color: hsl(87deg, 52%, 71%);
}

.bg-e-health {
  background-color: hsl(87deg, 52%, 61%);
}

.bg-e-health-dark {
  background-color: hsl(87deg, 52%, 51%);
}

.bg-f-de-guardia-light {
  background-color: hsl(168deg, 80%, 54%);
}

.bg-f-de-guardia {
  background-color: hsl(168deg, 80%, 44%);
}

.bg-f-de-guardia-dark {
  background-color: hsl(168deg, 80%, 34%);
}

.bg-texto-light {
  background-color: hsl(0deg, 0%, 34%);
}

.bg-texto {
  background-color: hsl(0deg, 0%, 15%);
}

.bg-whites-light {
  background-color: hsl(0deg, 0%, 95%);
}

.bg-whites {
  background-color: #fff;
}

.bg-whites-dark {
  background-color: hsl(0deg, 0%, 90%);
}

.bg-news-light {
  background-color: hsl(39deg, 100%, 59%);
}

.bg-news {
  background-color: hsl(39deg, 100%, 49%);
}

.bg-news-dark {
  background-color: hsl(39deg, 100%, 40%);
}

.btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: unset;
  min-width: min-content;
  width: max-content;
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.1em;
  color: hsl(0deg, 0%, 15%);
  font-family: "Roboto", sans-serif !important;
  padding: 6px 0.5rem 6px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.btn-primary {
  background-color: hsl(340deg, 100%, 57%);
  color: #fff;
}
.btn-primary:hover {
  background: hsl(340deg, 100%, 65%);
  color: #fff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}
.btn-primary:focus {
  background: hsl(340deg, 100%, 52%);
  color: #fff;
  box-shadow: inset 0 0 2px 3px rgba(0, 0, 0, 0.08);
}
.btn-primary.outlined {
  background-color: transparent;
  color: hsl(340deg, 100%, 57%);
  border: 1px solid hsl(340deg, 100%, 57%);
}
.btn-primary.outlined:hover {
  color: hsl(340deg, 100%, 65%);
  border-color: hsl(340deg, 100%, 65%);
}
.btn-primary.outlined:focus {
  color: hsl(340deg, 100%, 52%);
  border-color: hsl(340deg, 100%, 52%);
  box-shadow: none;
}
.btn-primary.naked {
  text-decoration: underline;
  background-color: transparent !important;
  color: hsl(340deg, 100%, 57%);
  border: transparent solid hsl(340deg, 100%, 57%);
}
.btn-primary.naked:hover {
  color: hsl(340deg, 100%, 65%);
}
.btn-primary.naked:focus {
  color: hsl(340deg, 100%, 52%);
  box-shadow: none;
}
.btn-primary.disabled, .btn-primary-disabled {
  background-color: #ccc;
  color: #fff;
}

.btn-accent {
  background-color: hsl(191deg, 100%, 44%);
  color: #fff;
}
.btn-accent:hover {
  background: hsl(191deg, 100%, 54%);
  color: #fff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}
.btn-accent:focus {
  background: hsl(191deg, 100%, 34%);
  color: #fff;
  box-shadow: inset 0 0 2px 3px rgba(0, 0, 0, 0.08);
}
.btn-accent.outlined {
  background-color: transparent;
  color: hsl(191deg, 100%, 44%);
  border: 1px solid hsl(191deg, 100%, 44%);
}
.btn-accent.outlined:hover {
  color: hsl(191deg, 100%, 54%);
  border-color: hsl(191deg, 100%, 54%);
}
.btn-accent.outlined:focus {
  color: hsl(191deg, 100%, 34%);
  border-color: hsl(191deg, 100%, 34%);
  box-shadow: none;
}
.btn-accent.naked {
  text-decoration: underline;
  background-color: transparent !important;
  color: hsl(191deg, 100%, 44%);
  border: transparent solid hsl(191deg, 100%, 44%);
}
.btn-accent.naked:hover {
  color: hsl(191deg, 100%, 54%);
}
.btn-accent.naked:focus {
  color: hsl(191deg, 100%, 34%);
  box-shadow: none;
}
.btn-accent.disabled, .btn-accent-disabled {
  background-color: #ccc;
  color: #fff;
}

.btn-medicina {
  background-color: hsl(209deg, 100%, 32%);
  color: #fff;
}
.btn-medicina:hover {
  background: hsl(209deg, 100%, 42%);
  color: #fff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}
.btn-medicina:focus {
  background: hsl(209deg, 100%, 22%);
  color: #fff;
  box-shadow: inset 0 0 2px 3px rgba(0, 0, 0, 0.08);
}
.btn-medicina.outlined {
  background-color: transparent;
  color: hsl(209deg, 100%, 32%);
  border: 1px solid hsl(209deg, 100%, 32%);
}
.btn-medicina.outlined:hover {
  color: hsl(209deg, 100%, 42%);
  border-color: hsl(209deg, 100%, 42%);
}
.btn-medicina.outlined:focus {
  color: hsl(209deg, 100%, 22%);
  border-color: hsl(209deg, 100%, 22%);
  box-shadow: none;
}
.btn-medicina.naked {
  text-decoration: underline;
  background-color: transparent !important;
  color: hsl(209deg, 100%, 32%);
  border: transparent solid hsl(209deg, 100%, 32%);
}
.btn-medicina.naked:hover {
  color: hsl(209deg, 100%, 42%);
}
.btn-medicina.naked:focus {
  color: hsl(209deg, 100%, 22%);
  box-shadow: none;
}
.btn-medicina.disabled, .btn-medicina-disabled {
  background-color: #ccc;
  color: #fff;
}

.btn-enfermeria {
  background-color: hsl(168deg, 100%, 25%);
  color: #fff;
}
.btn-enfermeria:hover {
  background: hsl(168deg, 100%, 35%);
  color: #fff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}
.btn-enfermeria:focus {
  background: hsl(168deg, 100%, 20%);
  color: #fff;
  box-shadow: inset 0 0 2px 3px rgba(0, 0, 0, 0.08);
}
.btn-enfermeria.outlined {
  background-color: transparent;
  color: hsl(168deg, 100%, 25%);
  border: 1px solid hsl(168deg, 100%, 25%);
}
.btn-enfermeria.outlined:hover {
  color: hsl(168deg, 100%, 35%);
  border-color: hsl(168deg, 100%, 35%);
}
.btn-enfermeria.outlined:focus {
  color: hsl(168deg, 100%, 20%);
  border-color: hsl(168deg, 100%, 20%);
  box-shadow: none;
}
.btn-enfermeria.naked {
  text-decoration: underline;
  background-color: transparent !important;
  color: hsl(168deg, 100%, 25%);
  border: transparent solid hsl(168deg, 100%, 25%);
}
.btn-enfermeria.naked:hover {
  color: hsl(168deg, 100%, 35%);
}
.btn-enfermeria.naked:focus {
  color: hsl(168deg, 100%, 20%);
  box-shadow: none;
}
.btn-enfermeria.disabled, .btn-enfermeria-disabled {
  background-color: #ccc;
  color: #fff;
}

.btn-bibliografias {
  background-color: hsl(26deg, 85%, 61%);
  color: #fff;
}
.btn-bibliografias:hover {
  background: hsl(26deg, 85%, 71%);
  color: #fff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}
.btn-bibliografias:focus {
  background: hsl(26deg, 85%, 55%);
  color: #fff;
  box-shadow: inset 0 0 2px 3px rgba(0, 0, 0, 0.08);
}
.btn-bibliografias.outlined {
  background-color: transparent;
  color: hsl(26deg, 85%, 61%);
  border: 1px solid hsl(26deg, 85%, 61%);
}
.btn-bibliografias.outlined:hover {
  color: hsl(26deg, 85%, 71%);
  border-color: hsl(26deg, 85%, 71%);
}
.btn-bibliografias.outlined:focus {
  color: hsl(26deg, 85%, 55%);
  border-color: hsl(26deg, 85%, 55%);
  box-shadow: none;
}
.btn-bibliografias.naked {
  text-decoration: underline;
  background-color: transparent !important;
  color: hsl(26deg, 85%, 61%);
  border: transparent solid hsl(26deg, 85%, 61%);
}
.btn-bibliografias.naked:hover {
  color: hsl(26deg, 85%, 71%);
}
.btn-bibliografias.naked:focus {
  color: hsl(26deg, 85%, 55%);
  box-shadow: none;
}
.btn-bibliografias.disabled, .btn-bibliografias-disabled {
  background-color: #ccc;
  color: #fff;
}

.btn-actualidad {
  background-color: hsl(216deg, 100%, 66%);
  color: #fff;
}
.btn-actualidad:hover {
  background: hsl(216deg, 100%, 76%);
  color: #fff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}
.btn-actualidad:focus {
  background: hsl(216deg, 100%, 56%);
  color: #fff;
  box-shadow: inset 0 0 2px 3px rgba(0, 0, 0, 0.08);
}
.btn-actualidad.outlined {
  background-color: transparent;
  color: hsl(216deg, 100%, 66%);
  border: 1px solid hsl(216deg, 100%, 66%);
}
.btn-actualidad.outlined:hover {
  color: hsl(216deg, 100%, 76%);
  border-color: hsl(216deg, 100%, 76%);
}
.btn-actualidad.outlined:focus {
  color: hsl(216deg, 100%, 56%);
  border-color: hsl(216deg, 100%, 56%);
  box-shadow: none;
}
.btn-actualidad.naked {
  text-decoration: underline;
  background-color: transparent !important;
  color: hsl(216deg, 100%, 66%);
  border: transparent solid hsl(216deg, 100%, 66%);
}
.btn-actualidad.naked:hover {
  color: hsl(216deg, 100%, 76%);
}
.btn-actualidad.naked:focus {
  color: hsl(216deg, 100%, 56%);
  box-shadow: none;
}
.btn-actualidad.disabled, .btn-actualidad-disabled {
  background-color: #ccc;
  color: #fff;
}

.btn-e-health {
  background-color: hsl(87deg, 52%, 61%);
  color: #fff;
}
.btn-e-health:hover {
  background: hsl(87deg, 52%, 71%);
  color: #fff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}
.btn-e-health:focus {
  background: hsl(87deg, 52%, 51%);
  color: #fff;
  box-shadow: inset 0 0 2px 3px rgba(0, 0, 0, 0.08);
}
.btn-e-health.outlined {
  background-color: transparent;
  color: hsl(87deg, 52%, 61%);
  border: 1px solid hsl(87deg, 52%, 61%);
}
.btn-e-health.outlined:hover {
  color: hsl(87deg, 52%, 71%);
  border-color: hsl(87deg, 52%, 71%);
}
.btn-e-health.outlined:focus {
  color: hsl(87deg, 52%, 51%);
  border-color: hsl(87deg, 52%, 51%);
  box-shadow: none;
}
.btn-e-health.naked {
  text-decoration: underline;
  background-color: transparent !important;
  color: hsl(87deg, 52%, 61%);
  border: transparent solid hsl(87deg, 52%, 61%);
}
.btn-e-health.naked:hover {
  color: hsl(87deg, 52%, 71%);
}
.btn-e-health.naked:focus {
  color: hsl(87deg, 52%, 51%);
  box-shadow: none;
}
.btn-e-health.disabled, .btn-e-health-disabled {
  background-color: #ccc;
  color: #fff;
}

.btn-f-de-guardia {
  background-color: hsl(168deg, 80%, 44%);
  color: #fff;
}
.btn-f-de-guardia:hover {
  background: hsl(168deg, 80%, 54%);
  color: #fff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}
.btn-f-de-guardia:focus {
  background: hsl(168deg, 80%, 34%);
  color: #fff;
  box-shadow: inset 0 0 2px 3px rgba(0, 0, 0, 0.08);
}
.btn-f-de-guardia.outlined {
  background-color: transparent;
  color: hsl(168deg, 80%, 44%);
  border: 1px solid hsl(168deg, 80%, 44%);
}
.btn-f-de-guardia.outlined:hover {
  color: hsl(168deg, 80%, 54%);
  border-color: hsl(168deg, 80%, 54%);
}
.btn-f-de-guardia.outlined:focus {
  color: hsl(168deg, 80%, 34%);
  border-color: hsl(168deg, 80%, 34%);
  box-shadow: none;
}
.btn-f-de-guardia.naked {
  text-decoration: underline;
  background-color: transparent !important;
  color: hsl(168deg, 80%, 44%);
  border: transparent solid hsl(168deg, 80%, 44%);
}
.btn-f-de-guardia.naked:hover {
  color: hsl(168deg, 80%, 54%);
}
.btn-f-de-guardia.naked:focus {
  color: hsl(168deg, 80%, 34%);
  box-shadow: none;
}
.btn-f-de-guardia.disabled, .btn-f-de-guardia-disabled {
  background-color: #ccc;
  color: #fff;
}

.btn-texto {
  background-color: hsl(0deg, 0%, 15%);
  color: #fff;
}
.btn-texto:hover {
  background: hsl(0deg, 0%, 34%);
  color: #fff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}
.btn-texto:focus {
  color: #fff;
  box-shadow: inset 0 0 2px 3px rgba(0, 0, 0, 0.08);
}
.btn-texto.outlined {
  background-color: transparent;
  color: hsl(0deg, 0%, 15%);
  border: 1px solid hsl(0deg, 0%, 15%);
}
.btn-texto.outlined:hover {
  color: hsl(0deg, 0%, 34%);
  border-color: hsl(0deg, 0%, 34%);
}
.btn-texto.outlined:focus {
  box-shadow: none;
}
.btn-texto.naked {
  text-decoration: underline;
  background-color: transparent !important;
  color: hsl(0deg, 0%, 15%);
  border: transparent solid hsl(0deg, 0%, 15%);
}
.btn-texto.naked:hover {
  color: hsl(0deg, 0%, 34%);
}
.btn-texto.naked:focus {
  box-shadow: none;
}
.btn-texto.disabled, .btn-texto-disabled {
  background-color: #ccc;
  color: #fff;
}

.btn-whites {
  background-color: #fff;
  color: #fff;
}
.btn-whites:hover {
  background: hsl(0deg, 0%, 95%);
  color: #fff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}
.btn-whites:focus {
  background: hsl(0deg, 0%, 90%);
  color: #fff;
  box-shadow: inset 0 0 2px 3px rgba(0, 0, 0, 0.08);
}
.btn-whites.outlined {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.btn-whites.outlined:hover {
  color: hsl(0deg, 0%, 95%);
  border-color: hsl(0deg, 0%, 95%);
}
.btn-whites.outlined:focus {
  color: hsl(0deg, 0%, 90%);
  border-color: hsl(0deg, 0%, 90%);
  box-shadow: none;
}
.btn-whites.naked {
  text-decoration: underline;
  background-color: transparent !important;
  color: #fff;
  border: transparent solid #fff;
}
.btn-whites.naked:hover {
  color: hsl(0deg, 0%, 95%);
}
.btn-whites.naked:focus {
  color: hsl(0deg, 0%, 90%);
  box-shadow: none;
}
.btn-whites.disabled, .btn-whites-disabled {
  background-color: #ccc;
  color: #fff;
}

.btn-news {
  background-color: hsl(39deg, 100%, 49%);
  color: #fff;
}
.btn-news:hover {
  background: hsl(39deg, 100%, 59%);
  color: #fff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}
.btn-news:focus {
  background: hsl(39deg, 100%, 40%);
  color: #fff;
  box-shadow: inset 0 0 2px 3px rgba(0, 0, 0, 0.08);
}
.btn-news.outlined {
  background-color: transparent;
  color: hsl(39deg, 100%, 49%);
  border: 1px solid hsl(39deg, 100%, 49%);
}
.btn-news.outlined:hover {
  color: hsl(39deg, 100%, 59%);
  border-color: hsl(39deg, 100%, 59%);
}
.btn-news.outlined:focus {
  color: hsl(39deg, 100%, 40%);
  border-color: hsl(39deg, 100%, 40%);
  box-shadow: none;
}
.btn-news.naked {
  text-decoration: underline;
  background-color: transparent !important;
  color: hsl(39deg, 100%, 49%);
  border: transparent solid hsl(39deg, 100%, 49%);
}
.btn-news.naked:hover {
  color: hsl(39deg, 100%, 59%);
}
.btn-news.naked:focus {
  color: hsl(39deg, 100%, 40%);
  box-shadow: none;
}
.btn-news.disabled, .btn-news-disabled {
  background-color: #ccc;
  color: #fff;
}

.btn-primary-dark {
  background-color: hsl(340deg, 100%, 52%);
  color: #fff;
}
.btn-primary-dark:hover {
  background: hsl(340deg, 100%, 57%);
  color: #fff;
}
.btn-primary-dark:focus {
  background: hsl(340deg, 100%, 65%);
  color: #fff;
  box-shadow: inset 0 0 2px 3px rgba(0, 0, 0, 0.08);
}
.btn-primary-dark.outlined {
  background-color: transparent;
  color: hsl(340deg, 100%, 52%);
  border: 1px solid hsl(340deg, 100%, 52%);
}
.btn-primary-dark.outlined:hover {
  color: hsl(340deg, 100%, 57%);
  border-color: hsl(340deg, 100%, 57%);
}
.btn-primary-dark.outlined:focus {
  color: hsl(340deg, 100%, 65%);
  border-color: hsl(340deg, 100%, 65%);
  box-shadow: none;
}
.btn-primary-dark.naked {
  text-decoration: underline;
  background-color: transparent !important;
  color: hsl(340deg, 100%, 52%);
  border: transparent solid hsl(340deg, 100%, 52%);
}
.btn-primary-dark.naked:hover {
  color: hsl(340deg, 100%, 57%);
}
.btn-primary-dark.naked:focus {
  color: hsl(340deg, 100%, 57%);
  box-shadow: none;
}
.btn-primary-dark.disabled, .btn-primary-dark-disabled {
  background-color: #ccc;
  color: #fff;
}

.btn-accent-dark {
  background-color: hsl(191deg, 100%, 34%);
  color: #fff;
}
.btn-accent-dark:hover {
  background: hsl(191deg, 100%, 44%);
  color: #fff;
}
.btn-accent-dark:focus {
  background: hsl(191deg, 100%, 54%);
  color: #fff;
  box-shadow: inset 0 0 2px 3px rgba(0, 0, 0, 0.08);
}
.btn-accent-dark.outlined {
  background-color: transparent;
  color: hsl(191deg, 100%, 34%);
  border: 1px solid hsl(191deg, 100%, 34%);
}
.btn-accent-dark.outlined:hover {
  color: hsl(191deg, 100%, 44%);
  border-color: hsl(191deg, 100%, 44%);
}
.btn-accent-dark.outlined:focus {
  color: hsl(191deg, 100%, 54%);
  border-color: hsl(191deg, 100%, 54%);
  box-shadow: none;
}
.btn-accent-dark.naked {
  text-decoration: underline;
  background-color: transparent !important;
  color: hsl(191deg, 100%, 34%);
  border: transparent solid hsl(191deg, 100%, 34%);
}
.btn-accent-dark.naked:hover {
  color: hsl(191deg, 100%, 44%);
}
.btn-accent-dark.naked:focus {
  color: hsl(191deg, 100%, 44%);
  box-shadow: none;
}
.btn-accent-dark.disabled, .btn-accent-dark-disabled {
  background-color: #ccc;
  color: #fff;
}

.btn-medicina-dark {
  background-color: hsl(209deg, 100%, 22%);
  color: #fff;
}
.btn-medicina-dark:hover {
  background: hsl(209deg, 100%, 32%);
  color: #fff;
}
.btn-medicina-dark:focus {
  background: hsl(209deg, 100%, 42%);
  color: #fff;
  box-shadow: inset 0 0 2px 3px rgba(0, 0, 0, 0.08);
}
.btn-medicina-dark.outlined {
  background-color: transparent;
  color: hsl(209deg, 100%, 22%);
  border: 1px solid hsl(209deg, 100%, 22%);
}
.btn-medicina-dark.outlined:hover {
  color: hsl(209deg, 100%, 32%);
  border-color: hsl(209deg, 100%, 32%);
}
.btn-medicina-dark.outlined:focus {
  color: hsl(209deg, 100%, 42%);
  border-color: hsl(209deg, 100%, 42%);
  box-shadow: none;
}
.btn-medicina-dark.naked {
  text-decoration: underline;
  background-color: transparent !important;
  color: hsl(209deg, 100%, 22%);
  border: transparent solid hsl(209deg, 100%, 22%);
}
.btn-medicina-dark.naked:hover {
  color: hsl(209deg, 100%, 32%);
}
.btn-medicina-dark.naked:focus {
  color: hsl(209deg, 100%, 32%);
  box-shadow: none;
}
.btn-medicina-dark.disabled, .btn-medicina-dark-disabled {
  background-color: #ccc;
  color: #fff;
}

.btn-enfermeria-dark {
  background-color: hsl(168deg, 100%, 20%);
  color: #fff;
}
.btn-enfermeria-dark:hover {
  background: hsl(168deg, 100%, 25%);
  color: #fff;
}
.btn-enfermeria-dark:focus {
  background: hsl(168deg, 100%, 35%);
  color: #fff;
  box-shadow: inset 0 0 2px 3px rgba(0, 0, 0, 0.08);
}
.btn-enfermeria-dark.outlined {
  background-color: transparent;
  color: hsl(168deg, 100%, 20%);
  border: 1px solid hsl(168deg, 100%, 20%);
}
.btn-enfermeria-dark.outlined:hover {
  color: hsl(168deg, 100%, 25%);
  border-color: hsl(168deg, 100%, 25%);
}
.btn-enfermeria-dark.outlined:focus {
  color: hsl(168deg, 100%, 35%);
  border-color: hsl(168deg, 100%, 35%);
  box-shadow: none;
}
.btn-enfermeria-dark.naked {
  text-decoration: underline;
  background-color: transparent !important;
  color: hsl(168deg, 100%, 20%);
  border: transparent solid hsl(168deg, 100%, 20%);
}
.btn-enfermeria-dark.naked:hover {
  color: hsl(168deg, 100%, 25%);
}
.btn-enfermeria-dark.naked:focus {
  color: hsl(168deg, 100%, 25%);
  box-shadow: none;
}
.btn-enfermeria-dark.disabled, .btn-enfermeria-dark-disabled {
  background-color: #ccc;
  color: #fff;
}

.btn-bibliografias-dark {
  background-color: hsl(26deg, 85%, 55%);
  color: #fff;
}
.btn-bibliografias-dark:hover {
  background: hsl(26deg, 85%, 61%);
  color: #fff;
}
.btn-bibliografias-dark:focus {
  background: hsl(26deg, 85%, 71%);
  color: #fff;
  box-shadow: inset 0 0 2px 3px rgba(0, 0, 0, 0.08);
}
.btn-bibliografias-dark.outlined {
  background-color: transparent;
  color: hsl(26deg, 85%, 55%);
  border: 1px solid hsl(26deg, 85%, 55%);
}
.btn-bibliografias-dark.outlined:hover {
  color: hsl(26deg, 85%, 61%);
  border-color: hsl(26deg, 85%, 61%);
}
.btn-bibliografias-dark.outlined:focus {
  color: hsl(26deg, 85%, 71%);
  border-color: hsl(26deg, 85%, 71%);
  box-shadow: none;
}
.btn-bibliografias-dark.naked {
  text-decoration: underline;
  background-color: transparent !important;
  color: hsl(26deg, 85%, 55%);
  border: transparent solid hsl(26deg, 85%, 55%);
}
.btn-bibliografias-dark.naked:hover {
  color: hsl(26deg, 85%, 61%);
}
.btn-bibliografias-dark.naked:focus {
  color: hsl(26deg, 85%, 61%);
  box-shadow: none;
}
.btn-bibliografias-dark.disabled, .btn-bibliografias-dark-disabled {
  background-color: #ccc;
  color: #fff;
}

.btn-actualidad-dark {
  background-color: hsl(216deg, 100%, 56%);
  color: #fff;
}
.btn-actualidad-dark:hover {
  background: hsl(216deg, 100%, 66%);
  color: #fff;
}
.btn-actualidad-dark:focus {
  background: hsl(216deg, 100%, 76%);
  color: #fff;
  box-shadow: inset 0 0 2px 3px rgba(0, 0, 0, 0.08);
}
.btn-actualidad-dark.outlined {
  background-color: transparent;
  color: hsl(216deg, 100%, 56%);
  border: 1px solid hsl(216deg, 100%, 56%);
}
.btn-actualidad-dark.outlined:hover {
  color: hsl(216deg, 100%, 66%);
  border-color: hsl(216deg, 100%, 66%);
}
.btn-actualidad-dark.outlined:focus {
  color: hsl(216deg, 100%, 76%);
  border-color: hsl(216deg, 100%, 76%);
  box-shadow: none;
}
.btn-actualidad-dark.naked {
  text-decoration: underline;
  background-color: transparent !important;
  color: hsl(216deg, 100%, 56%);
  border: transparent solid hsl(216deg, 100%, 56%);
}
.btn-actualidad-dark.naked:hover {
  color: hsl(216deg, 100%, 66%);
}
.btn-actualidad-dark.naked:focus {
  color: hsl(216deg, 100%, 66%);
  box-shadow: none;
}
.btn-actualidad-dark.disabled, .btn-actualidad-dark-disabled {
  background-color: #ccc;
  color: #fff;
}

.btn-e-health-dark {
  background-color: hsl(87deg, 52%, 51%);
  color: #fff;
}
.btn-e-health-dark:hover {
  background: hsl(87deg, 52%, 61%);
  color: #fff;
}
.btn-e-health-dark:focus {
  background: hsl(87deg, 52%, 71%);
  color: #fff;
  box-shadow: inset 0 0 2px 3px rgba(0, 0, 0, 0.08);
}
.btn-e-health-dark.outlined {
  background-color: transparent;
  color: hsl(87deg, 52%, 51%);
  border: 1px solid hsl(87deg, 52%, 51%);
}
.btn-e-health-dark.outlined:hover {
  color: hsl(87deg, 52%, 61%);
  border-color: hsl(87deg, 52%, 61%);
}
.btn-e-health-dark.outlined:focus {
  color: hsl(87deg, 52%, 71%);
  border-color: hsl(87deg, 52%, 71%);
  box-shadow: none;
}
.btn-e-health-dark.naked {
  text-decoration: underline;
  background-color: transparent !important;
  color: hsl(87deg, 52%, 51%);
  border: transparent solid hsl(87deg, 52%, 51%);
}
.btn-e-health-dark.naked:hover {
  color: hsl(87deg, 52%, 61%);
}
.btn-e-health-dark.naked:focus {
  color: hsl(87deg, 52%, 61%);
  box-shadow: none;
}
.btn-e-health-dark.disabled, .btn-e-health-dark-disabled {
  background-color: #ccc;
  color: #fff;
}

.btn-f-de-guardia-dark {
  background-color: hsl(168deg, 80%, 34%);
  color: #fff;
}
.btn-f-de-guardia-dark:hover {
  background: hsl(168deg, 80%, 44%);
  color: #fff;
}
.btn-f-de-guardia-dark:focus {
  background: hsl(168deg, 80%, 54%);
  color: #fff;
  box-shadow: inset 0 0 2px 3px rgba(0, 0, 0, 0.08);
}
.btn-f-de-guardia-dark.outlined {
  background-color: transparent;
  color: hsl(168deg, 80%, 34%);
  border: 1px solid hsl(168deg, 80%, 34%);
}
.btn-f-de-guardia-dark.outlined:hover {
  color: hsl(168deg, 80%, 44%);
  border-color: hsl(168deg, 80%, 44%);
}
.btn-f-de-guardia-dark.outlined:focus {
  color: hsl(168deg, 80%, 54%);
  border-color: hsl(168deg, 80%, 54%);
  box-shadow: none;
}
.btn-f-de-guardia-dark.naked {
  text-decoration: underline;
  background-color: transparent !important;
  color: hsl(168deg, 80%, 34%);
  border: transparent solid hsl(168deg, 80%, 34%);
}
.btn-f-de-guardia-dark.naked:hover {
  color: hsl(168deg, 80%, 44%);
}
.btn-f-de-guardia-dark.naked:focus {
  color: hsl(168deg, 80%, 44%);
  box-shadow: none;
}
.btn-f-de-guardia-dark.disabled, .btn-f-de-guardia-dark-disabled {
  background-color: #ccc;
  color: #fff;
}

.btn-texto-dark {
  color: #fff;
}
.btn-texto-dark:hover {
  background: hsl(0deg, 0%, 15%);
  color: #fff;
}
.btn-texto-dark:focus {
  background: hsl(0deg, 0%, 34%);
  color: #fff;
  box-shadow: inset 0 0 2px 3px rgba(0, 0, 0, 0.08);
}
.btn-texto-dark.outlined {
  background-color: transparent;
  border: 1px solid;
}
.btn-texto-dark.outlined:hover {
  color: hsl(0deg, 0%, 15%);
  border-color: hsl(0deg, 0%, 15%);
}
.btn-texto-dark.outlined:focus {
  color: hsl(0deg, 0%, 34%);
  border-color: hsl(0deg, 0%, 34%);
  box-shadow: none;
}
.btn-texto-dark.naked {
  text-decoration: underline;
  background-color: transparent !important;
  border: transparent solid;
}
.btn-texto-dark.naked:hover {
  color: hsl(0deg, 0%, 15%);
}
.btn-texto-dark.naked:focus {
  color: hsl(0deg, 0%, 15%);
  box-shadow: none;
}
.btn-texto-dark.disabled, .btn-texto-dark-disabled {
  background-color: #ccc;
  color: #fff;
}

.btn-whites-dark {
  background-color: hsl(0deg, 0%, 90%);
  color: #fff;
}
.btn-whites-dark:hover {
  background: #fff;
  color: #fff;
}
.btn-whites-dark:focus {
  background: hsl(0deg, 0%, 95%);
  color: #fff;
  box-shadow: inset 0 0 2px 3px rgba(0, 0, 0, 0.08);
}
.btn-whites-dark.outlined {
  background-color: transparent;
  color: hsl(0deg, 0%, 90%);
  border: 1px solid hsl(0deg, 0%, 90%);
}
.btn-whites-dark.outlined:hover {
  color: #fff;
  border-color: #fff;
}
.btn-whites-dark.outlined:focus {
  color: hsl(0deg, 0%, 95%);
  border-color: hsl(0deg, 0%, 95%);
  box-shadow: none;
}
.btn-whites-dark.naked {
  text-decoration: underline;
  background-color: transparent !important;
  color: hsl(0deg, 0%, 90%);
  border: transparent solid hsl(0deg, 0%, 90%);
}
.btn-whites-dark.naked:hover {
  color: #fff;
}
.btn-whites-dark.naked:focus {
  color: #fff;
  box-shadow: none;
}
.btn-whites-dark.disabled, .btn-whites-dark-disabled {
  background-color: #ccc;
  color: #fff;
}

.btn-news-dark {
  background-color: hsl(39deg, 100%, 40%);
  color: #fff;
}
.btn-news-dark:hover {
  background: hsl(39deg, 100%, 49%);
  color: #fff;
}
.btn-news-dark:focus {
  background: hsl(39deg, 100%, 59%);
  color: #fff;
  box-shadow: inset 0 0 2px 3px rgba(0, 0, 0, 0.08);
}
.btn-news-dark.outlined {
  background-color: transparent;
  color: hsl(39deg, 100%, 40%);
  border: 1px solid hsl(39deg, 100%, 40%);
}
.btn-news-dark.outlined:hover {
  color: hsl(39deg, 100%, 49%);
  border-color: hsl(39deg, 100%, 49%);
}
.btn-news-dark.outlined:focus {
  color: hsl(39deg, 100%, 59%);
  border-color: hsl(39deg, 100%, 59%);
  box-shadow: none;
}
.btn-news-dark.naked {
  text-decoration: underline;
  background-color: transparent !important;
  color: hsl(39deg, 100%, 40%);
  border: transparent solid hsl(39deg, 100%, 40%);
}
.btn-news-dark.naked:hover {
  color: hsl(39deg, 100%, 49%);
}
.btn-news-dark.naked:focus {
  color: hsl(39deg, 100%, 49%);
  box-shadow: none;
}
.btn-news-dark.disabled, .btn-news-dark-disabled {
  background-color: #ccc;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .btn-big {
    font-size: 1rem;
    line-height: 19px;
    padding: 0.375rem 1rem;
  }
}/*# sourceMappingURL=prueba.css.map */