@use "../_founder";
// NAVBAR
@use "../base/header/_header-navbar";
// HERO
@use "../components/hero/_hero";
// Product Cards
@use "../components/_product-card";
// FOOTER
@use "../base/_footer";
.tags {
   font-size: clamp(0.75rem, 2vw, 0.875rem);
   width: max-content;
   margin-bottom: 0.75rem !important;
}

.product {
   position: relative;
   &-cont {
      position: relative;
      z-index: 2;
      &-header {
         border-bottom: 1px solid #c4c4c440;
         &-tags {
            display: flex;
            gap: 0.5rem;
         }
         &-info {
            display: grid;
            grid-template-columns: auto unquote("max(325px, 35%)");
            gap: 1rem;
            &-title {
               font-size: 1.5rem;
               line-height: 1.1em;
               font-weight: 700;
               color: color(medicina, "-dark");
            }
            &-bajada {
               margin-top: 0.35rem;
               line-height: 1.3em;
               color: color(texto, "-dark");
            }
            &-img {
               flex-grow: 1;
               min-height: 180px;
               height: 100%;
               border-radius: 0.5rem;
               overflow: hidden;
               picture {
                  position: relative;
                  height: 100%;
                  display: flex;
                  img {
                     position: absolute;
                     width: 100%;
                     height: 100%;
                     object-fit: cover;
                     object-position: center;
                  }
               }
            }
         }
      }
   }
}

@media screen and (min-width: 1024px) {
   .product {
      margin-top: -3rem;
      padding-top: 2rem;
   }
}
