@use "../../abstracts" as *;
@use "../../components/pagination";

.temario {
   margin-top: 2rem;
   &-accordion {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .accordion {
         transition: unset;
      }
      .acc_section {
         &.acc_active {
            path {
               fill: color(accent, "");
            }
            svg {
               transform: rotate(180deg);
            }
         }
      }
      .acc_head {
         position: relative;
         z-index: 2;
         padding: 0.5rem 1rem;
         display: flex;
         justify-content: space-between;
         align-items: center;
         font-size: clamp(0.875rem, 2vw, 1.25rem);
         background: #ffffff;
         border: 1px solid #e6e6ed;
         border-radius: 8px;
         color: color(texto, "");
         cursor: pointer;

         b {
            margin-left: clamp(0.25rem, 2vw, 0.5rem);
            flex-grow: 1;
         }
      }
      .acc_content {
         ul {
            columns: 2;
            list-style-type: disc;
            list-style-position: inside;
         }
         li {
            font-size: 0.875rem;
         }
      }
   }
   &-cont {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      &-download {
         padding: 2rem;
         position: relative;
         overflow: hidden;
         @include flex(flex-start, flex-start, row, wrap, 0.75rem);
         border-radius: 10px;

         & > * {
            z-index: 2;
         }

         h6 {
            margin-bottom: 0.25rem;
            @include font(clamp(1.25rem, 2vw, 1.5rem), 700, 1.3, #fff);
            width: 100%;
         }
         .text-desktop {
            display: none;
         }
         p {
            display: inline-block;
            font-size: clamp(1rem, 2vw, 1.125rem);
            color: #fff;
         }
         .btn {
            padding: 6px 1rem;
            display: inline-block;
            max-width: max-content;
            height: 2.5rem;
            line-height: 1.75;
         }
         picture {
            position: absolute;
            z-index: 1;
            inset: 0;

            img {
               width: 100%;
               height: 100%;
               object-fit: cover;
               object-position: center;
            }
         }
      }

      &-footer {
         padding: 0.75rem 1rem;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         background: rgba(238, 238, 238, 0.15);
         border-radius: 10px;
         button {
            font-size: clamp(1rem, 2vw, 1.125rem);
            &:hover {
               text-decoration: underline;
               cursor: pointer;
            }
         }
         .control-pagination {
            margin: 0;
            flex-grow: 1;
            justify-content: flex-end;
         }
      }
   }
}
@media screen and (min-width: 767px) {
   .temario {
      &-accordion {
         gap: 1rem;
         .accordion-trigger {
            padding: 0.75rem 1rem;
         }
         .accordion-trigger {
            border-radius: 8px;
            &.active {
               border-radius: 8px;
            }
         }
         .accordion-panel {
            padding: 1.75rem 1rem 1rem;
            margin-top: -1rem;
            border-radius: 0 0 8px 8px;

            ul {
               columns: 2 auto;
            }
         }
      }
      &-cont-download {
         box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
         column-gap: 1.25rem;
         .text-mobile {
            display: none;
         }
         .text-desktop {
            display: block;
         }
         p {
            margin-top: 2px;
            line-height: 2;
         }
         .btn {
            padding-inline: 1.75rem;
            height: 2.5rem;
         }
      }
   }
}
